@charset "UTF-8";

body {
    background-color: rgb(45, 45, 250);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: cyan;
}
h2 {
    color: darkred;
    text-decoration: underline overline;
}
p {
    text-align: justify;
}
